<html>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/game.css">
    <script src="https://code.createjs.com/1.0.0/createjs.min.js"></script>
    <script>
        console.log(typeof Common.getAdjacent);
    </script>
    <head>
        <title>
            Debris - Playing game ({{gameID}})
        </title>
    </head>
    <script src="/scripts/board.js"></script>
    <script src="/common/common.js"></script>
    {{{body}}}
</html>