<body>
    <div class = "main">
        <center>
            <canvas class = "canvas" width = "775px" height = "865px" id="canvas">
                There's supposed to be a game here! Try using Firefox or Chrome.
            </canvas>
        </center>
        <br>
    </div>
    <div class = "left">
        <div class = "chat center container">
            <div class = "top" style = "margin-left: 35px; top: 490px;">
                <input id = "chatbox" placeholder = "Type something..." class = "chatbox" type = "text"></input>
            </div>
            <!--GAME CHAT-->
            <div id = "chat"></div>
        </div>
    </div>
    <div class = "top">
    </div>
</body>

<script>
    var stage = new createjs.Stage("canvas");
    var canvas = document.getElementById("canvas");
    function init() {
        stage.enableMouseOver(20); 
        Board.create();
        stage.update();
    }
</script>

<script src="/socket.io/socket.io.js"></script>
<script>
    var gameID = "{{gameID}}";
    var io = io("/"+gameID);
    
    io.on("connect", function(message) {
        console.log("Connected to socket server as "+message+"!");
        io.emit("board request", gameID);
    });

    io.on("disconnect", function(message) {
        console.log("Disconnected from server :(");
        showMessage
        ("chat", {sender: "Server", color: "gray", contents: "You have disconnected. Refresh the page."});
    });
    
    io.on("board", function(tiles) {
        console.log("Recieved board data from server!");
        init();
        for (var t = 0; t < tiles.length; t++) {
            console.log(tiles[t].name);
            Board.update(tiles[t].x, tiles[t].y, Tile[tiles[t].name], 'ship');
        }
    });
    
    io.on("chat", function(message) {
        showMessage("chat", message);
        console.log(message.sender+": "+message.contents);
    });

    io.on("team change", function(teamName) {
        Board.teamName = teamName;
    });

    io.on("tile update", function(i, j, tileName, updateType) {
        console.log("Received tile update packet ("+updateType+") from server for tile.");
        //TODO: MOVE THE UPDATE TYPE HANDLING INTO UPDATE FUNCTION ITSELF
        if (updateType == "kill") {
            //make sure the board recognizes that the ship has been deleted
            if (Board.selectedTile != null) if (Board.selectedTile.i == i
                && Board.selectedTile.j == j) Board.selectedTile = null;
        }
        Board.update(i, j, Tile[tileName], 'ship');
    });
    
</script>

<script>

    var chatbox = document.getElementById('chatbox');
    chatbox.onkeydown = function(event) {
        if (event.keyCode == 13) { sendMessage(chatbox.value); chatbox.value = ""; }
    }

    function sendMessage(message) {
        if (message.length > 0) io.emit("chat", message);
    }

    function showMessage(type, message) {
        var msg = message.contents;
        var sender = message.sender;
        var chat_dom = document.getElementById("chat");
        var chats = chat_dom.innerHTML.split("<br>");
        chat_dom.innerHTML = "<b style = '"+('color: '+message.color)+"'>" + sender + "</b>: " + msg + "<br>" 
            + chat_dom.innerHTML;
    }

</script>