<body>
    <div class = "main">
        <center>
            <canvas class = "canvas" width = "775px" height = "865px" id="canvas">
                There's supposed to be a game here! Try using Firefox or Chrome.
            </canvas>
        </center>
        <br>
    </div>
    <div class = "left">
        <div class = "chat center container">
            <div class = "top" style = "margin-left: 35px; top: 490px;">
                <input id = "chatbox" placeholder = "Type something..." class = "chatbox" type = "text"></input>
            </div>
            <!--GAME CHAT-->
            <div id = "chat"></div>
        </div>
    </div>
    <div class = "top">
        <a target = "_blank" href = "/assets/changelog.txt" 
            style = "float: right; color: white; margin-right: 10px;">
            game version: 1.0.2-alpha
        </a>
    </div>
</body>

<script>
    var stage = new createjs.Stage("canvas");
    var canvas = document.getElementById("canvas");
    function init() {
        stage.enableMouseOver(20); 
        Board.create();
        stage.update();
    }
</script>

<script src="/socket.io/socket.io.js"></script>
<script>
    var gameID = "{{gameID}}";
    var io = io("/"+gameID);
    
    io.on("connect", function(message) {
        console.log("Connected to socket server as "+message+"!");
        io.emit("board request", gameID);
        showMessage("chat", {sender: "Client", 
            contents: "For game rules and stats, visit http://thepivot.net/debris/.", color: "gray"});
        showMessage("chat", {sender: "Client", 
            contents: "Commands: /nick, /join red, /join blue", color: "gray"});
        showMessage("chat", {sender: "Client", 
            contents: "This game is in beta. Please report bugs to @computerology_ on twitter.", color: "gray"});
    });

    io.on("disconnect", function(message) {
        console.log("Disconnected from server :(");
        showMessage
        ("chat", {sender: "Server", color: "gray", contents: "You have disconnected. Refresh the page."});
    });
    
    io.on("board", function(tiles) {
        console.log("Recieved board data from server!");
        init();
        for (var t = 0; t < tiles.length; t++) {
            console.log(tiles[t].name);
            Board.update(tiles[t].x, tiles[t].y, Tile[tiles[t].name], 'ship');
        }
    });
    
    io.on("chat", function(message) {
        showMessage("chat", message);
        console.log(message.sender+": "+message.contents);
    });

    io.on("team change", function(teamName) {
        Board.teamName = teamName;
    });

    io.on("tile update", function(i, j, tileName, updateType) {
        console.log("Received tile update packet ("+updateType+") from server: "+i+", "+j+", "+tileName);
        Board.update(i, j, Tile[tileName], 'ship', updateType);
    });

    io.on("moves left", function(movesLeft, currentTeam) {
        if (Board.teamName != currentTeam) return;
        Board.movesLeft = movesLeft;
        console.log("Moves left: "+movesLeft);
        showMessage("chat", 
            {sender: "Server", 
            contents: "You have "+Board.movesLeft+" moves left.", 
            color: "gray"});
        Board.refreshOverlays(true);
    });

    io.on("turn update", function(teamID) {
        console.log("Turn update: "+teamID);
        var change = Board.turn != teamID;
        Board.turn = teamID;
        if (change) {
            showMessage("chat",
                        {sender: "Server", 
                        contents: "It's "+teamID+"'s turn!", 
                        color: "gray"});
            Board.turnID = Math.floor(Math.random()*100000)+"";
        }
        Board.refreshOverlays(true);
    });
    
</script>

<script>

    var chatbox = document.getElementById('chatbox');
    chatbox.onkeydown = function(event) {
        if (event.keyCode == 13) { sendMessage(chatbox.value); chatbox.value = ""; }
    }

    function sendMessage(message) {
        if (message.length > 0) io.emit("chat", message);
    }

    function showMessage(type, message) {
        var msg = message.contents;
        var sender = message.sender;
        var chat_dom = document.getElementById("chat");
        var chats = chat_dom.innerHTML.split("<br>");
        chat_dom.innerHTML = "<b style = '"+('color: '+message.color)+"'>" + sender + "</b>: " + msg + "<br>" 
            + chat_dom.innerHTML;
    }

</script>